.tootheselect{
    width: 350px;
    height: 100vh;
    overflow-y: scroll;
    padding: 5px 15px;
    position: relative;
    
    span{
        margin: 10px 0px;
        text-align: left;
        // width: 100%;
    }

    &-selected{
        display: flex;
        flex-wrap: wrap;
        &-bold{
            font-weight: 600;
            
        }
       span{
           margin-right: 10px;
       }
       &-select{
           color: red;
       }
       &-notselect{
           color: gray;
       }
       &-again{
           font-size: 0.9rem;
           text-decoration: none;
           color: rgb(2, 173, 54);
       }
    }
    &-head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-text{
            font-weight: 600;
        }
        &-appointment{
            // width: ;
            font-weight: 600;
            cursor: pointer;
            padding: 0px 5px;
            display: flex;
            align-items: center;
            color: #fff;
            background-color: black;
        }
    }

    &-info{
        &-head{
            display: flex;
            flex-direction: column;
            text-align: left;
            span{
                margin-bottom: 0px;
            }
            &-text{
                &-big{
                    font-weight: 600;
                }
                &-small{
                    font-size: 0.8rem;
                    span{
                        margin-right: 5px;
                        font-weight: 600;
                    }
                }
            }
          
        }
    }
    &-body{
      
        img{
            width: 100%;
            margin-bottom: 10px;
        }
        &-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            button{
                background-color: black;
                color: #fff;
                outline: none;
                border: none;
                padding: 5px 15px;
                cursor: pointer;
            }
        }
        &-bold{
            font-weight: 600;
            font-size: 1.2rem;
            width: 100%;
        }
        &-bigbold{
            font-weight: 600;
        }
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        &-container{
            width: 75%;
            margin: 15px 0px;
            ol{
                li{
                    margin-bottom: 10px;
                }
            }
        }
        button{
         
        }
        
    }
}